In [1]:
import pandas as pd

In [3]:
df_buyers = pd.read_csv("./data/sharepoint/sap_buyers.csv")

In [4]:
df_buyers.head()

,Buyer,Buyer Alias,Buyer Gin,Direct Manager,Shift,BPN_Buyer,Available for Audits,Workload / Availability,Category,Available For Urgencies,...,Pgroup,Team Mapping,BPN_Availability,Spot Junior,Last Modify Team Mapping,ID,Last Modify Team Mapping2,Category Mapping,Emergency Calls,Number Emergency Calls
0,Jacqueline Barcelo,jbarcelo2,6620447,Juan Felipe Quintero,7 to 5,False,No,0%,CAMERON INDIRECT,No,...,NaN,True,NaN,False,NaN,299,9/29/2025,NaN,False,NaN
1,Tatiana Castillo Casas,TCastillo2,80028257,Juan Felipe Quintero,7 to 5,False,No,0%,CAMERON INDIRECT,No,...,NaN,True,NaN,False,NaN,366,8/29/2025,NaN,False,NaN
2,Maria Camila Duarte,MDuarte6,80035945,Andres Noguera,7 to 5,False,Yes,100%,Cameron Indirect,Yes,...,NaN,True,NaN,False,NaN,450,11/18/2025,NaN,False,NaN
3,Maria Alejandra Gaviria,MGaviria,80034495,Andres Noguera,9 to 7,False,Yes,100%,Cameron Indirect,Yes,...,NaN,True,NaN,False,NaN,473,11/10/2025,NaN,False,NaN
4,Royner Romero,RRomero36,80035941,Andres Noguera,9 to 7,False,Yes,100%,Cameron Indirect,Yes,...,NaN,True,NaN,False,NaN,483,8/25/2025,NaN,False,NaN

# Reglas para df_buyers

1.