In [1]:
import pandas as pd

# Rutas de los archivos
nam_path = "./data/final/CAM_IND_NAM.csv"
lam_path = "./data/final/CAM_IND_LAM.csv"

In [2]:
df_csv = pd.read_csv("./data/sharepoint/sap_dispatching_list.csv")
df_xlsx = pd.read_excel("./data/sharepoint/sap_dispatching_list.xlsx", engine="openpyxl")

In [6]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150003 entries, 0 to 150002
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   SC Number             150001 non-null  object
 1   Purchase Requisition  48 non-null      float64
 2   Urgent?               150000 non-null  object
 3   Created               150000 non-null  object
 4   Created By            150000 non-null  object
 5   User Alias            138802 non-null  object
 6   Buyer Alias           149992 non-null  object
 7   Category              150000 non-null  object
 8   SubCategory           150000 non-null  object
dtypes: float64(1), object(8)
memory usage: 10.3+ MB

In [9]:
def filtrar_cameron_subcategory(df: pd.DataFrame) -> pd.DataFrame:
    """
    Devuelve solo las filas donde SubCategory es
    'CAM IND LAM' o 'CAM IND NAM'.
    """
    valores = ["CAM IND LAM", "CAM IND NAM"]
    mascara = df["SubCategory"].isin(valores)
    return df[mascara].copy()

In [10]:
df_cameron_csv = filtrar_cameron_subcategory(df_csv)
df_cameron_csv.head()

,SC Number,Purchase Requisition,Urgent?,Created,Created By,User Alias,Buyer Alias,Category,SubCategory
226,PR968891,NaN,No,2026-01-26,Juan Quintero,CVIDRINE2,sperez40,CAMERON INDIRECT,CAM IND NAM
229,PR971408,NaN,No,2026-01-26,Juan Quintero,CPwhittaker,KNarvaez2,CAMERON INDIRECT,CAM IND NAM
233,PR972199,NaN,No,2026-01-26,Juan Quintero,JArdoin3,JSalgado43,CAMERON INDIRECT,CAM IND NAM
235,PR972273,NaN,No,2026-01-26,Juan Quintero,JBROUSSARD12,ALopez108,CAMERON INDIRECT,CAM IND NAM
239,PR972424,NaN,No,2026-01-26,Juan Quintero,IBorges3,JGonzalez366,CAMERON INDIRECT,CAM IND LAM

In [11]:
df_cameron_csv[df_cameron_csv["Urgent?"] == 'Yes'].head()

,SC Number,Purchase Requisition,Urgent?,Created,Created By,User Alias,Buyer Alias,Category,SubCategory
250,PR972561,NaN,Yes,2026-01-26,Juan Quintero,VMotta,JGonzalez366,CAMERON INDIRECT,CAM IND LAM
1433,PR955335-V4,NaN,Yes,2026-01-23,Juan Quintero,VMotta,MGaviria,CAMERON INDIRECT,CAM IND LAM
1955,PR972001,NaN,Yes,2026-01-23,Juan Quintero,VMotta,MGaviria,CAMERON INDIRECT,CAM IND LAM
1994,PR972130,NaN,Yes,2026-01-23,Juan Quintero,VMotta,RRomero36,CAMERON INDIRECT,CAM IND LAM
2363,PR955335-V3,NaN,Yes,2026-01-22,Juan Quintero,VMotta,MGaviria,CAMERON INDIRECT,CAM IND LAM

In [8]:
df_csv.head()

,SC Number,Purchase Requisition,Urgent?,Created,Created By,User Alias,Buyer Alias,Category,SubCategory
0,1003156579,NaN,No,2026-01-26,Juan Quintero,LArchie,JAcevedo9,FES,FES LAM
1,1003158640,NaN,No,2026-01-26,Andres Vargas,SLopez14,AMorales54,FES,FES NAM
2,1003159835,NaN,No,2026-01-26,Juan Quintero,MPonce3,ACamacho13,FES,FES LAM
3,1003159836,NaN,No,2026-01-26,Juan Quintero,MPonce3,ACamacho13,FES,FES LAM
4,1003159837,NaN,No,2026-01-26,Juan Quintero,MPonce3,ACamacho13,FES,FES LAM

In [7]:
df_xlsx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150003 entries, 0 to 150002
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   SC Number             150001 non-null  object
 1   Purchase Requisition  48 non-null      float64
 2   Urgent?               150000 non-null  object
 3   Created               150000 non-null  datetime64[ns]
 4   Created By            150000 non-null  object
 5   User Alias            138802 non-null  object
 6   Buyer Alias           149992 non-null  object
 7   Category              150000 non-null  object
 8   SubCategory           150000 non-null  object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 10.3+ MB

In [7]:
# Cargar datos
df_nam = pd.read_csv(nam_path)
df_lam = pd.read_csv(lam_path)

In [8]:
# Normalizar nombres de columnas por si acaso
df_nam.columns = [c.strip() for c in df_nam.columns]
df_lam.columns = [c.strip() for c in df_lam.columns]

In [9]:
# Verificar que exista BUYER
for name, df in [("NAM", df_nam), ("LAM", df_lam)]:
    if "BUYER" not in df.columns:
        raise KeyError(f"El archivo de {name} no tiene la columna 'BUYER'.")

In [10]:
print("=== Carga por BUYER - CAMERON NAM ===")
print(
    df_nam.groupby("BUYER", dropna=False)
    .size()
    .reset_index(name="Count_PRs")
    .sort_values("Count_PRs", ascending=False)
)

print("\n=== Carga por BUYER - CAMERON LAM ===")
print(
    df_lam.groupby("BUYER", dropna=False)
    .size()
    .reset_index(name="Count_PRs")
    .sort_values("Count_PRs", ascending=False)
)

=== Carga por BUYER - CAMERON NAM ===
        BUYER  Count_PRs
6    sperez40          8
1  JSalgado43          7
0  AVasquez24          7
2   KNarvaez2          7
3    SCepeda2          7
5  cchaparro4          7
4    TBecerra          5

=== Carga por BUYER - CAMERON LAM ===
          BUYER  Count_PRs
1      MDuarte6          9
0  JGonzalez366          8
2      MGaviria          8
3     RRomero36          8